<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.type.watch" />
    <application android:allowBackup="false" android:label="Remote Phone Lock">
        <receiver android:name=".LockActionReceiver" android:exported="false" />
        <service
            android:name=".PhoneLockWidgetService"
            android:exported="true"
            android:icon="@drawable/ic_lock"
            android:label="Phone Lock"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">
            <intent-filter>
                <action android:name="androidx.glance.wear.action.BIND_WIDGET_PROVIDER" />
                <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
            </intent-filter>
            <meta-data
                android:name="androidx.glance.wear.widget.provider"
                android:resource="@xml/phone_lock_widget_info" />
            <meta-data
                android:name="androidx.wear.tiles.PREVIEW"
                android:resource="@drawable/ic_lock" />
        </service>
        <service android:name=".WatchMessageService" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data android:scheme="wear" android:host="*" android:pathPrefix="/phone-lock/" />
            </intent-filter>
        </service>
    </application>
</manifest>
